{% extends "base.html" %}

{% block title %}
    Tags
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>
        Tags
    </h1>

    <a
        href="{% url 'tag-create' %}"
        class="button"
    >
        Add
    </a>

</div>


{% if tags %}

<table class="tag-table">

    <thead>

        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

    </thead>


    <tbody>

        {% for tag in tags %}

        <tr>

            <td>
                {{ tag.name }}
            </td>


            <td>

                <a
                    href="{% url 'tag-update' tag.pk %}"
                    class="link-button"
                >
                    Update
                </a>

            </td>


            <td>

                <a
                    href="{% url 'tag-delete' tag.pk %}"
                    class="link-button link-danger"
                >
                    Delete
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>


{% else %}

<div class="empty-state">

    <p>
        No tags yet.
    </p>

    <a
        href="{% url 'tag-create' %}"
        class="button"
    >
        Add your first tag
    </a>

</div>

{% endif %}

{% endblock %}
